.col-sm-1 {
    max-width: 6%;
}

.col-sm-11 {
    max-width: 94%
}

#mainRow {
    height: 100vh;
    position: relative;
}

#menu {
    background-color: var(--black, #121212);
    color: white;
    padding: 28px 0;
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 10;
    height: 100vh;
    transition: all 500ms ease 0s;
    overflow: hidden;
}

nav {
    transition: all 500ms ease 0s;
    height: 100%;
}

#profileLink {
    position: absolute;
    bottom: 28px;
    left: 0;
    right: 0
}

#links {
    height: 100%;
}

#links ul {
    list-style-type: none;
    padding-left: 0
}

#links ul li {
    margin-bottom: 24px;
}

#links a {
    color: var(--gray, #cecece);
    display: block;
    text-align: center;
}

#links a:hover {
    color: white;
}

#links span.medium-text {
    vertical-align: top;
    font-weight: normal;
}

#links .iconify {
    font-size: 24px;
    text-align: center;
}

h1 {
    margin-top: 36px;
    display: inline-block;
}

#content {
    position: absolute;
    right: 0;
}

#content a.btn {
    padding: 12px 48px;
    margin-top: 28px;
    float: right;
}

#notes, #noNotes {
    margin-top: 28px;
}

#notes ul {
    list-style-type: none;
    padding-left: 0;
}

.note-gap {
    width: 1.33%;
}

.note {
    position: relative;
    padding: 28px;
    border-radius: 10px;
    border: 3px solid var(--dark-gray, #23282c);
    margin-bottom: 1.33%;
    width: 24%;
}

.note:hover {
    background-color: #FAFAFA;
    border: 3px solid var(--black, #121212)
}

.note.important {
    border-left: 5px solid var(--black, #121212);
    border-radius: 0 10px 10px 0;
}

.note p {
    display: inline;
    white-space: nowrap;
}

.note a {
    color: black;
    font-weight: normal;
}

.note div {
    word-break: break-word;
}

.note .medium-text {
    vertical-align: top;
}

.note-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note .date {
    color: #737373;
    font-size: 14px;
    margin-top: 24px
}

#logoutBtn {
    margin-top: 28px
}

@media (max-width: 1024px) {
    .col-sm-1 {
        max-width: 8%;
    }
    
    .col-sm-11 {
        max-width: 92%
    }
    
    .note {
        width: 32%;
    }
}

@media (max-width: 767px) { 
    .col-sm-1 {
        max-width: 10%;
    }
    
    .col-sm-11 {
        max-width: 90%
    }

    .note {
        width: 49%;
    }
}

@media (max-width: 576px) {
    .col-sm-1 {
        max-width: 100%;
    }
    
    .col-sm-11 {
        max-width: 100%
    } 

    #menu {
        height: 56px;
        padding: 0 !important;
        bottom: 0;
        top: initial
    }

    #links ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        margin-bottom: 0;
        height: 100%;
    }

    #links ul li {
        margin-bottom: 0;
    }

    h1 {
        display: block
    }

    #profileLink {
        position: initial;
    }

    #links .iconify {
        font-size: 22px;
    }

    .note {
        width: 100%;
    }

    .note-gap {
        width: 0;
    }
}