#mainRow {
    height: 100vh
}

#menu {
    background-color: var(--dark-blue);
    color: white;
    padding: 28px 24px;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 10;
    height: 100vh;
    transition: all 500ms ease 0s;
    overflow: hidden;
}

nav {
    transition: all 500ms ease 0s;
}

#toggle {
    display: none;
    float: right;
    cursor: pointer;
    margin-bottom: 24px;
}
  
#toggle span {
    display: block;
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    background: white;
    border-radius: 3px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;

}

#user {
    width: 100%;
    position: relative;
}

#userPic {
    background-color: var(--purple);
    position: relative;
    cursor: default;
    display: block;
    margin: 0 auto;
    width: 54px;
    height: 54px;
    margin-bottom: 10px;
}

#userPic p {
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 0;
}

#userInfo {
    margin-bottom: 0;
    cursor: default;
    text-align: center;
    font-weight: bold;
    word-break: break-word;
}

button#logout {
    color: var(--blue);
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    position: absolute;
    bottom: 28px;
}

#logout:hover {
    color: white
}

#logout:focus {
    outline: none;
    width: inline;
}


#links {
    margin-top: 36px;
}

#links ul {
    list-style-type: none;
    padding-left: 0
}

#links ul li {
    margin-bottom: 16px;
}

#links a {
    color: var(--gray);
}

#links a:hover {
    color: white;
}

#links span.medium-text {
    vertical-align: top;
    font-weight: normal;
}

#links .iconify {
    margin-right: 10px;
    font-size: 21px;
}

h1 {
    margin-top: 36px;
    display: inline-block;
}

#content {
    position: absolute;
    right: 0;
}

#content a.btn {
    padding: 12px 48px;
    margin-top: 28px;
    float: right;
}

#notes, #noNotes {
    margin-top: 28px;
}

#notes ul {
    list-style-type: none;
    padding-left: 0;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
}

.note {
    padding: 28px;
    border-radius: 10px;
    border: 3px solid var(--purple)
}

.note:hover {
    background-color: #FAFAFA;
    border: 3px solid var(--dark-blue)
}

.note.important {
    border-left: 5px solid var(--dark-blue);
    border-radius: 0 10px 10px 0;
}

.note p {
    display: inline;
    white-space: nowrap;
}

.note a {
    color: black;
    font-weight: normal;
}

.note div {
    word-break: break-word;
}

.note .medium-text {
    vertical-align: top;
}

.note .date {
    color: var(--dark-blue);
    font-size: 14px
}

.note .note-text {
    margin-top: 8px
}

@media (min-width: 1144px) {
    #menu {
        padding: 28px 28px !important;
    }
}

@media (max-width: 1024px) {
    #menu {
        padding: 28px 20px !important;
    }
}


@media (max-width: 991px) {
    #menu {
        padding: 28px 18px !important;
    }

    #links .iconify {
        display: none;
    }
}

@media (max-width: 767px) { 
    #menu {
        padding: 28px 16px !important;
    }

    #links .iconify {
        display: inline-block;
        margin-right: 8px !important;
    }
}

@media (max-width: 576px) {
    #toggle {
        display: block;
        float: right;
    }

    #menu {
        height: 60px;
        padding: 24px 16px !important;
    }

    #content {
        top: 60px;
    }

    #content a.btn {
        padding: 12px 30px !important;
    }

    nav {
        display: none
    }

    #user {
        margin-top: 54px
    }

    #content a.btn {
        width: 100% !important;
        margin-top: 16px;
    }

    #notes, #noNotes {
        margin-top: 112px;
    }

    h1 {
        text-align: center;
        display: block
    }

    #links ul {
        display: block;
        width: 122px;
        margin: 0 auto;
    }

    #links span.medium-text {
        vertical-align: middle;
        font-size: 20px
    }

    #userInfo {
        font-size: 20px
    }
}