body {
    display: none;
}

label {
    display: none
}

#controlls {
    margin: 28px auto;
}

#controlls form {
    display: inline-block;
    margin-right: 24px;
}

#controlls button:not(.btn), #controlls a  {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 36px;
    color: var(--dark-gray);
    vertical-align: middle;
}

#controlls a:hover {
    color: var(--black);
}

#controlls a span {
    font-size: 28px;
}

#controlls #right {
    float: right
}

#controlls button.btn {
    padding: 10px 60px;
    float: right;
    margin-left: 24px;
    border: 3px solid var(--dark-gray);
}

#controlls .iconify {
    vertical-align: inherit !important;
}

#form p:nth-child(3), #form p:nth-child(4){
    width: 100%;
    margin: 0;
}

#id_title {
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin-bottom: -8px;
    margin-top: 24px;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    resize: none;
    overflow: hidden;
}

#bookmark {
    font-size: 36px;
    color: var(--dark-gray);
    vertical-align: bottom;
    float: left;
}

#id_important {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 0;
    width: 36px;
    height: 36px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.saveBtnChange {
    background: white;
    color: var(--dark-gray);
    border: 4px solid var(--dark-gray);
}

#form p:nth-child(4) {
    padding-bottom: 150px;
}

@media (min-width: 991px) {
    #form p:nth-child(3), #form p:nth-child(4){
        width: 80%;
        margin-left: 10%;
    }
}

@media (max-width: 768px) {
    #controlls .iconify {
        vertical-align: middle !important;
    }

    #controlls button.btn {
        padding: 12px 48px;
    }

    #id_title {
        font-size: 28px
    }
}

@media (max-width: 576px) {
    #controlls {
        margin-bottom: 36px;
    }

    #controlls form {
        margin-right: 20px;
    }
}

@media (max-width: 420px) {
    #controlls button.btn {
        padding: 10px 36px;
    }

    #controlls form {
        margin-right: 12px;
    }

    #controlls form {
        margin-right: 14px;
    }

    #controlls button.btn {
        margin-left: 14px
    }

    #controlls button:not(.btn), #controlls a, #bookmark  {
        font-size: 28px;
    }
}