#search {
    margin-top: 24px;
    width: 100%;
}

input {
    padding: 16px 24px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 2px solid #F2F2F2!important;
    width: auto;
    transition: all 200ms ease-in-out;
}

input:focus, input:hover {
    outline: none;
    background: #FAFAFA;
    border: 2px solid #212529!important;
}

form .btn {
    padding: 16px;
    width: 100%;
}

#search .col-md-2 {
    padding-right: 0
}

@media (max-width: 768px) {
    .col-sm-12.col-md-4.col-lg-3 {
        padding: 0;
        margin-top: 16px;
    }
}

@media (max-width: 576px) {
    #notes, #noNotes {
        margin-top: 28px !important;
    }
}