:root {
    --blue: #fafafa;
    --dark-blue: #121212;
    --purple:#23282c;
    --gray: #cecece;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
    margin-bottom: 4px;
}

.large-text {
    font-size: 20px;
}

.medium-text {
    font-size: 18px;
}

a {
    color: var(--dark-blue);
    font-weight: bold;
    transition: all 200ms ease-in-out;
}

a:hover {
    color: var(--purple);
    text-decoration: none;
}

.btn {
    color: white;
    background-color: var(--purple);
    font-weight: bold;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
}

.btn:hover {
    background-color: var(--dark-blue);
    color: white;
}

@media (max-width: 768px) { 
    h1 {
        font-size: 32px
    }

    h2 {
        font-size: 24px;
    }
}

@media (max-width: 340px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px
    }
}