{% extends "notes/base.html" %}
{% load static %}

{% block title %}Untitled{% endblock %}
{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'notes/note.css' %}">
{% endblock %}

{% block note %}
<div id="controlls">                
    <div id="right">
        <a href="{% url 'all_notes' %}" title="Delete">
            <span class="iconify" data-icon="mdi:trash-can-outline"></span>
        </a>
        <button type="submit" class="btn saveBtnChange" form="form">Save!</button>
    </div>
</div>
<form method="POST" id="form">
    {% csrf_token %}
    {{ form.as_p }}
</form>
{% endblock %}