<!DOCTYPE html>
<html>
<head>
    <title>Archive | n0tes</title>
    <meta charset="UTF-8">
</head>
<body>
    <div>
        {% extends 'notes/base.html' %}
        {% block content %}
        <h1>Archived notes</h1>
        <a href="{% url 'add' %}">Add note</a>
        <ul>
            {% for note in archive %}
            <li>
                {% if note.title %} <b>{{ note.title }}</b> <br>{% endif %} 
                {{ note.text }}
            </li>
            {% endfor %}
        </ul>
        {% endblock %}
    </div>
</body>
</html>