{% extends "notes/base.html" %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'notes/homepage.css' %}">
{% endblock %}

{% block content %}
<div class="container">
	<div id="welcomeCard">
		<h1 class="text-center">Welcome to n0tes</h1>
		<div class="text-center" id="description">
			<p class="medium-text">A note-taking app for busy people. </p>
			<p class="medium-text">Save your thoughts and capture what’s on your mind with n0tes.</p>
		</div>
		<div id="loginButtons">
			<a href="{% url 'signup_user' %}" class="medium-text btn">Sign Up</a>
			<a href="{% url 'login_user' %}" class="medium-text">Log in</a>
		</div>
	</div>
</div>
{% endblock %}
