{% extends "notes/base.html" %}
{% load static %}

{% block title %}Log in{% endblock %}
{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'notes/signforms.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div id="formContainer">
        <h1>Log in to n0tes</h1>
        <p class="error medium-text">{{ error }}</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="medium-text btn">Log in</button>
        </form>
        <p>No account? <a href="{% url 'signup_user' %}">Sign up</a></p>
    </div>
</div>
{% endblock %}

{% block body_js %}
<script>
	$("#id_username").attr("placeholder", "Username");
	$("#id_password").attr("placeholder", "Password");
</script>
{% endblock %}