<div class="col-sm-3 col-md-2 col-lg-2" id="menu">
    <div id="toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <nav>
        <!-- <div id="user">
            <div id="userPic">
                <p class="large-text">{{ user.username|make_list|first|title }}</p>
            </div>
            <p id="userInfo" title='{{ user.username }}'>{{ user.username }}</p>
        </div> -->

        <div id="links">
            <ul>
                <li>
                    <div id="user">
                        <span class="iconify" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
                        <span id="userInfo" class="medium-text" title='{{ user.username }}'>{{ user.username }}</span>
                    </div>
                </li>
                <li>
                    <a href="{% url 'notes' %}" id="noteLink">
                        <span class="iconify" data-inline="false" data-icon="mdi:notebook-outline"></span>
                        <span class="medium-text">All notes</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'search' %}" id="searchLink">
                        <span class="iconify" data-inline="false" data-icon="mdi:magnify"></span>
                        <span class="medium-text">Search</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'important' %}" id="importantLink">
                        <span class="iconify" data-inline="false" data-icon="mdi:bookmark-outline"></span>
                        <span class="medium-text">Important</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'showarchive' %}" id="archiveLink">
                        <span class="iconify" data-inline="false" data-icon="mdi:archive-outline"></span>
                        <span class="medium-text">Archive</span>
                    </a>
                </li>
                <!-- <li>
                    <a href="{% url 'about' %}" id="aboutLink">
                        <span class="iconify" data-inline="false" data-icon="mdi:info-outline"></span>
                        <span class="medium-text">About</span>
                    </a>
                </li> -->

                <li>
                    <a href="#" id="logout">
                        <form action="{% url 'logoutuser' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" id="logout" title="Log out">
                                <span class="iconify" data-inline="false" data-icon="ri:logout-box-line"></span>
                                <span class="medium-text">Log out</span>
                            </button>
                        </form>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<script>
    if ("{{ active }}") {
        document.getElementById("{{ active }}").style.color = '#fff';
    }
</script>