<div class="col-sm-1" id="menu">
    <div id="toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <nav>
        <div id="links">
            <ul>
                <li>
                    <a href="{% url 'add' %}" id="addLink">
                        <span class="iconify" data-icon="fa:plus-circle" data-inline="false"></span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'notes' %}" id="noteLink">
                        <span class="iconify" data-icon="ic:baseline-library-books" data-inline="false"></span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'search' %}" id="searchLink">
                        <span class="iconify" data-icon="fa-solid:search" data-inline="false"></span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'important' %}" id="importantLink">
                        <span class="iconify" data-icon="fa-solid:bookmark" data-inline="false"></span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'showarchive' %}" id="archiveLink">
                        <span class="iconify" data-icon="fa-solid:archive" data-inline="false"></span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'profile_page' %}" id="profileLink" id="user">
                        <span class="iconify" data-icon="fa-solid:user-circle" data-inline="false"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<script>
    if ("{{ active }}") {
        document.getElementById("{{ active }}").style.color = '#fff';
    }
</script>