<!DOCTYPE html>
<html>
<head>
    <title>Your notes | n0tes</title>
    <meta charset="UTF-8">
</head>
<body>
    <div>
        {% extends 'notes/base.html' %}
        {% block content %}
        <h1>Your Notes</h1>
        <a href="{% url 'add' %}">Add note</a>
        <ul>
            {% for note in notes %}
            <li>
                {% if note.title %} <b>{{ note.title }}</b> <br>{% endif %} 
                {% if note.text %} {{ note.text|safe|truncatechars:100 }} <br>{% endif %} 
            </li>
            {% endfor %}
        </ul>
        {% endblock %}
    </div>
</body>
</html>