{% extends "notes/base.html" %}
{% load static %}

{% block title %}Untitled{% endblock %}
{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'notes/note.css' %}">
{% endblock %}

{% block note %}
<div id="controlls">                        
    <div id="right">
        <form method="POST" action="{% url 'delete_note' note.id %}">
            {% csrf_token %}
            <button type="submit" title="Delete" 
            onclick="return confirm('Are you sure you want to delete this note?')">
                <span class="iconify" data-icon="mdi:trash-can-outline"></span>
            </button>
        </form>

        {% if note.archive %}
        <form method="POST" action="{% url 'archive_note' note.id %}">
            {% csrf_token %}
            <button type="submit" title="Unarchive">
                <span class="iconify" data-icon="mdi:archive-arrow-up-outline"></span>
            </button>
        </form>
        {% else %}
        <form method="POST" action="{% url 'archive_note' note.id %}">
            {% csrf_token %}
            <button type="submit" title="Archive">
                <span class="iconify" data-icon="mdi:archive-arrow-down-outline"></span>
            </button>
        </form>
        {% endif %}

        <button type="submit" class="btn" id="saveBtn" form="form">Saved</button>
    </div>
</div>
<form method="POST" id="form">
    {% csrf_token %}
    {{ form.as_p }}
</form>
{% endblock %}