{% extends "notes/base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block page_title %}Profile{% endblock %}
{% block no_notes %}
<p class="medium-text">Username: {{ user.username }}</p>
<p class="medium-text">Total notes: {{ notes_count }}</p>
<p class="medium-text">Date joined: {{ user.date_joined }}</p>
<div id="profileBtns">
    <form action="{% url 'logout_user' %}" method="POST">
        {% csrf_token %}
        <button type="submit" title="Log out" class="btn" id="logoutBtn">
            <span>Log out</span>
        </button>
    </form>
    <form action="{% url 'delete_user' %}" method="POST">
        {% csrf_token %}
        <button type="submit" title="Delete profile" class="btn" id="deleteUserBtn"
        onclick="return confirm('Are you sure you want to delete your profile?')">
            <span>Delete profile</span>
        </button>
    </form>
</div>
{% endblock %}