<!DOCTYPE html>
<html>
<head>
    <title>Search | n0tes</title>
    <meta charset="UTF-8">
</head>
<body>
    <div>
        <form type="get" action=".">
            <input  type="text" name="keyword"  value='{{ keyword }}' placeholder="Search..." >
            <button type="submit" >Submit</button>
        </form>

        {% if notes %}
        <h1>Results for {{ keyword }}</h1>
        {% endif %}

        {% if keyword and not notes %}
        <h1>No results found for {{ keyword }}</h1>
        {% endif %}

        <ul>
            {% for note in notes %}
            <li>
                <a href="{% url 'note' note.id %}">
                    {% if note.title %} <b>{{ note.title }}</b> <br>{% endif %} 
                    {% if note.text %} {{ note.text|safe|truncatechars:100 }}{% endif %} 
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>