{% extends "notes/base.html" %}
{% load static %}

{% block title %}Search {{ keyword }}{% endblock %}
{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'notes/search.css' %}">
{% endblock %}

{% block page_title %}Search{% endblock %}
{% block search_form %}
<form type="get" action="." id="search" class="form-inline">
	<input  class="col-sm-12 col-md-8 col-lg-9" type="text" name="keyword" 
	value='{{ keyword }}' placeholder="Enter keyword">
	<div class="col-sm-12 col-md-4 col-lg-3"><button type="submit" class="btn">Search</button></div>
</form>
{% endblock  %}
{% block no_notes %}
{% if keyword and not notes %}
<p class="medium-text">No results found for {{ keyword }}</p>
{% endif %}
{% endblock %}