{% extends "notes/base.html" %}
{% load static %}

{% block title %}Sign Up{% endblock %}
{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'notes/signforms.css' %}">
{% endblock %}

{% block content %}
<div class="container">
	<div id="formContainer">
		<h1>Sign up to n0tes</h1>
		<p class="error medium-text">{{ error }}</p>
		<form method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="medium-text btn">Sign Up</button>
		</form>
		<p>Do you already have an account? <a href="{% url 'login_user' %}">Log in</a></p>
	</div>
</div>
{% endblock %}

{% block body_js %}
<script>
	$("#id_username").attr("placeholder", "Username");
	$("#id_password1").attr("placeholder", "Password");
	$("#id_password2").attr("placeholder", "Confirm password");
</script>
{% endblock %}